@import '@/styles/mixins/mixins.scss';

.Main {
  &__LinkBack {
    margin: 33px 0 33px 317px;
    @media screen and (hover: none) and (width < 1432px), screen and (hover: hover) and (width < 1440px) {
      margin-left: 22%;
    }
    @include mobile {
      margin-top: 32px;
      margin-left: 23px;
      margin-bottom: 22px;
    }
  }

  &__BlockTitle {
    margin: 0 0 55px 318px;
    @media screen and (hover: none) and (width < 1432px), screen and (hover: hover) and (width < 1440px) {
      margin-left: 22%;
    }
    @include mobile {
      margin-left: 24px;
      margin-bottom: 43px;
    }
  }

  &__Form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__Contacts {
    margin-bottom: 22px;
    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__Delivery {
    margin-bottom: 20px;
  }

  &__Payment {
    margin-bottom: 20px;
  }
}
