@import '@/styles/mixins/mixins.scss';

.InputThreeRadio {
  display: flex;
  width: max-content;
  border: 1px solid #72a479;
  border-radius: 10px;
}

.Input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  &:focus + .Label {
    border: 1px solid #cfcfcf;
  }
  &:checked + .Label {
    background-color: #72a479;
  }
}

.Label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 58px;
  cursor: pointer;
  @include mobile {
    width: 136px;
    height: 51px;
  }
  @media screen and (hover: none) and (width < 520px), screen and (hover: hover) and (width < 528px) {
    width: 92px;
  }
  &:hover {
    border: 1px solid #cfcfcf;
  }
  &:first-of-type {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  &:last-of-type {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
