@import '@/styles/mixins/mixins.scss';

.EmptyBasketIcon {
  width: 76px;
  height: 89px;
  margin: 52px 0 12px;
  background-image: url('~@/public/svg/modal-icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  @include mobile {
    margin-bottom: 13px;
  }
}
