@import '@/styles/mixins/mixins.scss';

.CardDescription {
  min-height: 34px;
  margin-bottom: 15px;
  padding: 0 56px 0 20px;
  color: #cfcfcf;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  @include mobile {
    font-size: 12px;
    padding-left: 15px;
  }
}
