.MenuMobileElement {
  padding-bottom: 20px;
  &:first-of-type {
    padding-top: 22px;
  }

  &__Link {
    color: #fff;
    font-size: 14px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    white-space: nowrap;
    user-select: none;
  }
}
