@import '@/styles/mixins/mixins.scss';

.CardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 0 20px;

  @include mobile {
    padding-right: 15px;
    padding-left: 15px;
  }

  &_active {
    padding-left: 16px;
    text-align: center;
    @include mobile {
      padding-left: 15px;
    }
  }
}
