.AboutCafeMenuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 223px;
  height: 59px;
  padding: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}
