@import '@/styles/mixins/mixins.scss';

.Title {
  display: flex;
  gap: 15px;
  @include mobile {
    gap: 7px;
  }

  &__Counter {
    padding-top: 18px;
    @include mobile {
      padding-top: 8px;
    }
  }
}
