@import '@/styles/mixins/mixins.scss';

.Section {
  margin-bottom: 22px;
  @include mobile {
    margin-bottom: 20px;
  }
}

.Payment {
  &__Title {
    margin: 29px 0 31px 31px;
    @include mobile {
      margin-top: 29px;
      margin-bottom: 26px;
      margin-left: 39px;
    }
  }

  &__RadioContainer {
    margin-left: 31px;
    @media screen and (hover: none) and (width < 376px), screen and (hover: hover) and (width < 384px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__Empty {
    margin-bottom: 29px;
  }

  &__InputText {
    width: 173px;
    margin: 15px 0 31px 31px;
    @include mobile {
      margin-left: auto;
      margin-right: auto;
      width: calc(100% - 30px);
    }
    @media screen and (hover: none) and (width < 350px), screen and (hover: hover) and (width < 358px) {
      width: calc(100% - 15px);
    }
  }
}
