@import '@/styles/mixins/mixins.scss';

.InputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  width: calc(100% - 60px);
  @media screen and (hover: none) and (width < 712px), screen and (hover: hover) and (width < 720px) {
    width: calc(100% - 30px);
  }
  @include mobile {
    flex-direction: column;
  }
  @media screen and (hover: none) and (width < 350px), screen and (hover: hover) and (width < 358px) {
    width: calc(100% - 15px);
  }
}
