@import '@/styles/mixins/mixins.scss';

.Submit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 31px;
  height: 85px;
  @include mobile {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 9px;
    padding-left: 0;
    height: 137px;
  }

  &__RadioConfirm {
    margin-right: 20px;
    @include mobile {
      margin-left: 26px;
    }
    @media screen and (hover: none) and (width < 340px), screen and (hover: hover) and (width < 348px) {
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  &__Button {
    margin-right: 19px;
    @include mobile {
      margin-right: 0;
    }
  }
}
