@import '@/styles/mixins/mixins.scss';

.Title {
  margin-bottom: 43px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  @include mobile {
    margin-bottom: 39px;
  }
}
