// Colors
$text-dark-gray: #403c3b;
$text-gray: #cfcfcf;
$text-gray2: #a6a7ab;
$text-white: #fff;
$text-green: #72a479;

$line-gray: rgba(255, 255, 255, 0.1);
$line-light-gray: rgba(255, 255, 255, 0.3);

$bg-gray: #504b4a;
$bg-green: #618967;
$bg-green-lighter: #79b382;
