.ButtonBurger {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 6px;
  border: 0;
  padding: 0;
  background-color: inherit;
  z-index: 5;
  cursor: pointer;

  &__Line1 {
    transform-origin: top left;
    transition: transform 0.4s ease-in-out;
    &_active {
      transform: rotate(45deg);
    }
  }

  &__Line2 {
    transition: transform 0.2s ease-in-out;
    &_active {
      transform: scaleY(0);
    }
  }

  &__Line3 {
    transform-origin: bottom left;
    transition: transform 0.4s ease-in-out;
    &_active {
      transform: rotate(-45deg);
    }
  }
}
