@import '@/styles/mixins/mixins.scss';

.Section {
  margin-bottom: 22px;
  @include mobile {
    margin-bottom: 20px;
  }
}

.Contacts {
  &__Title {
    margin: 31px 0 31px 31px;
    @include mobile {
      margin-top: 29px;
      margin-bottom: 26px;
      margin-left: 39px;
    }
  }

  &__InputContainer {
    margin: 0 auto 55px;
    @include mobile {
      margin-bottom: 31px;
    }
  }
}
