@import '@/styles/mixins/mixins.scss';

.TotalPriceMinSum {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @include mobile {
    display: flex;
    justify-content: center;
  }
  &_red {
    color: red;
  }
}
