@import '@/styles/mixins/mixins.scss';

.Label {
  &__Text {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @include mobile {
      font-size: 12px;
    }
  }
}
