.Label {
  position: relative;
  display: grid;
  align-items: center;
  width: 100%;
  height: 60px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Input {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  height: 60px;
  padding: 0;
  padding-left: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: inherit;
  background-color: transparent;
  transform: scaleZ(1);
  @media screen and (hover: hover) {
    &:hover {
      border: 1px solid #cfcfcf;
    }
  }
  &:focus {
    outline: none;
    border: 1px solid #cfcfcf;
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    border: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-text-fill-color: #fff;
    transition: background-color 5000s ease-in-out 0s;
  }
  @media screen and (hover: none) and (width < 370px), screen and (hover: hover) and (width < 378px) {
    padding-left: 15px;
  }
}

.Text {
  grid-row: 1;
  grid-column: 1;
  padding-left: 30px;
  @media screen and (hover: none) and (width < 370px), screen and (hover: hover) and (width < 378px) {
    padding-left: 15px;
  }
}

.Required {
  color: #72a479;
}

.Error {
  position: absolute;
  bottom: 3px;
  left: 30px;
  font-size: 12px;
  color: #72a479;
  @media screen and (hover: none) and (width < 370px), screen and (hover: hover) and (width < 378px) {
    left: 15px;
  }
}
