@import '@/styles/mixins/mixins.scss';

.Contacts {
  width: 526px;
  height: 405px;
  border-radius: 15px;
  background-color: #2e2b2c;
  box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.15);
  @include mobile {
    width: calc(100% - 32px);
  }
  @media screen and (hover: none) and (width < 556px), screen and (hover: hover) and (width < 564px) {
    height: 572px;
  }
  @media screen and (hover: none) and (width < 350px), screen and (hover: hover) and (width < 358px) {
    width: 100%;
  }

  &__FirstRow {
    padding: 15px 0 0 52px;
    @include mobile {
      padding-right: 45px;
    }
    @media screen and (hover: none) and (width < 556px), screen and (hover: hover) and (width < 564px) {
      padding: 15px 45px 0 16px;
    }
    @media screen and (hover: none) and (width < 350px), screen and (hover: hover) and (width < 358px) {
      padding-right: 16px;
    }
  }

  &__SecondRow {
    padding: 18px 0 24px 52px;
    @include mobile {
      padding-right: 45px;
    }
    @media screen and (hover: none) and (width < 556px), screen and (hover: hover) and (width < 564px) {
      padding: 23px 45px 16px 16px;
    }
    @media screen and (hover: none) and (width < 350px), screen and (hover: hover) and (width < 358px) {
      padding-right: 16px;
    }
  }
}
