.MenuMobilePanel {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  width: max-content;
  height: max-content;
  padding-left: 80px;
  padding-right: 70px;
  border-radius: 5px;
  background-color: rgba(64, 60, 59, 0.9);
  z-index: 4;
}

.enter {
  transform: translate3d(-100%, 0, 0);
}

.enterActive {
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s;
}

.exit {
  transform: translate3d(0, 0, 0);
}

.exitActive {
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.3s;
}
