@import '@/styles/mixins/mixins.scss';

.Section {
  margin-bottom: 20px;
  @include mobile {
    margin-bottom: 20px;
  }
}

.Delivery {
  &__Title {
    margin: 29px 0 31px 31px;
    @include mobile {
      margin-bottom: 30px;
      margin-left: 39px;
    }
  }

  &__TitleSmall {
    margin-bottom: 22px;
    margin-left: 31px;
    @include mobile {
      margin-bottom: 16px;
      margin-left: 39px;
    }
  }

  &__FlexRow {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 29px;
    @include mobile {
      margin-bottom: 19px;
    }
  }

  &__RadioContainer {
    margin-left: 31px;
    @media screen and (hover: none) and (width < 376px), screen and (hover: hover) and (width < 384px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__AddressContainer {
    margin: 0 0 32px 31px;
    @media screen and (hover: none) and (width < 770px), screen and (hover: hover) and (width < 778px) {
      margin-left: 15px;
      margin-right: 15px;
      justify-content: center;
    }
    @include mobile {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 31px;
      width: calc(100% - 30px);
    }
    @media screen and (hover: none) and (width < 350px), screen and (hover: hover) and (width < 358px) {
      width: calc(100% - 15px);
    }
  }
}
