@import '@/styles/mixins/mixins.scss';

.Delivery {
  &__Title {
    margin: 29px 0 31px 30px;

    @include mobile {
      margin-top: 29px;
      margin-bottom: 30px;
      margin-left: 39px;
    }
  }

  &__FlexRow {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }

  &__Fieldset {
    display: flex;
    width: max-content;
    height: max-content;
    margin-left: 31px;
    border-radius: 10px;
    border: 1px solid #72a479;
    overflow: hidden;
    @media screen and (hover: none) and (width < 712px), screen and (hover: hover) and (width < 720px) {
      margin-left: 15px;
    }
    @media screen and (hover: none) and (width < 376px), screen and (hover: hover) and (width < 384px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
