@import '@/styles/mixins/mixins.scss';

.TotalPrice {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 763px;
  min-height: 105px;
  border-radius: 10px;
  background-image: linear-gradient(90deg, #494544 0%, #504b4a 100%);
  @media screen and (hover: none) and (width < 823px), screen and (hover: hover) and (width < 831px) {
    width: calc(100% - 60px);
  }
  @media screen and (hover: none) and (width < 712px), screen and (hover: hover) and (width < 720px) {
    width: calc(100% - 30px);
  }
  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - 39px);
    min-height: 182px;
  }
  @media screen and (hover: none) and (width < 360px), screen and (hover: hover) and (width < 368px) {
    width: calc(100% - 10px);
  }

  &__Info {
    margin: 19px 0 0 39px;
    @include mobile {
      margin-top: 18px;
      margin-left: 0;
    }
  }

  &__Button {
    margin: 27px 27px 0 0;
    @include mobile {
      margin-top: 19px;
      margin-right: 0;
    }
  }
}
