@import '@/styles/variables/variables.scss';

.NavigationElement {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  white-space: nowrap;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.5;
  }
}
