.TotalPriceButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 209px;
  height: 51px;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
